<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>한국관광지</title>
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/vegas.min.css">
    <link rel="stylesheet" href="css/vg.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="js/jquery.min.js"> </script>
    <script src="js/jquery.smint.js"></script>
</head>

<body>

    <ul class="nav nav-tabs" style="background-color: black; ">
        <li class="nav-item">
            <a class="nav-link active" href="index">HOME</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="plus">추가</a>
        </li>
    </ul>

    <div class="jumbotron jumbotron-fluid" style="background-color:rgba(240, 248, 255, 0.582)">
        <div class="container">
            <h1 class="display-4">Korea TouristSpot
            </h1>
            <p class="lead">대한민국 관광지를 알아볼까요^!^</p>
        </div>
    </div>

    <div style="margin-left: 30px; margin-right: 30px;">
        <div class="row">
            <div class="col-sm-6" style="top: 50px; ">
                <div class="card" style="background-color:rgba(255, 255, 255, 0.747)">
                    <div class="card-body">
                        <h5 class="card-title">경복궁</h5>
                        <p class="card-text">서울특별시 종로구 세종로에 있는 조선전기 에 창건되어 정궁으로 이용된 궁궐</p>
                        <a href="http://www.royalpalace.go.kr/" class="btn btn-primary">더보기</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6" style="top: 50px;">
                <div class="card" style="background-color:rgba(255, 255, 255, 0.747)">
                    <div class="card-body">
                        <h5 class="card-title">전주 한옥마을</h5>
                        <p class="card-text">일제강점기 일본 상인들에 대항해 조성한 한옥촌으로, 세월이 흘러 전주를 상징함</p>
                        <a href="http://tour.jeonju.go.kr/index.9is?contentUid=9be517a74f72e96b014f8332a1e4145f" class="btn btn-primary">더보기</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6" style="top: 100px;">
                <div class="card" style="background-color:rgba(255, 255, 255, 0.747)">
                    <div class="card-body">
                        <h5 class="card-title">남산타워</h5>
                        <p class="card-text">국내외 관광객들이 년 1,200만 명 방문하는 서울 제1의 관광명소인 남산서울타워</p>
                        <a href="http://www.nseoultower.com/" class="btn btn-primary">더보기</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6" style="top: 100px;">
                <div class="card" style="background-color:rgba(255, 255, 255, 0.747)">
                    <div class="card-body">
                        <h5 class="card-title">더베이 101</h5>
                        <p class="card-text">탁 트인 바라를 보면서 하루를 마무리하기에 좋은 장소로 사랑받는 부산 관광지</p>
                        <a href="http://www.thebay101.com/" class="btn btn-primary">더보기</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>